@model TblAdmin
@{
    ViewData["Title"] = "AdminGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="AdminID" />   
    <div class="form-group">
        <label asp-for="AdminUserName">KULLANICI ADI</label>
        <input type="text" class="form-control" asp-for="AdminUserName" required />
        <label asp-for="AdminPassword">ŞİFRE</label>
        <input type="text" class="form-control" asp-for="AdminPassword" required />
       
        <br />
        <button type="submit" class="btn btn-outline-success"> GÜNCELLE</button>
        <a href="/Admin/Admin" class="btn btn-outline-danger">Geri</a>
    </div>
</form>